body, html{
	height: 100%;
	width: 100%;
	background-color: #1a1a1a;
	margin: 0;
	padding: 0;
}

.main {
	margin: 20px;
}

.header {
	position: sticky;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	text-align: left;
	background-color: black;
	color: white;
	font-size: 14px;
}

.header a{
	color: white;
	font-size: 14px;
}

.header-right {
	float: right;
	height: 100%;
}

h1 {
	color: orange;
}

p {
	color: white;
}

select {
	width: 200px;
}

